<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ meta.title or paste_id_padded | truncate(10) }}{% endblock %} - {{ config.BRANDING.TITLE }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if config.BRANDING.FAVICON %}
        <link rel="shortcut icon" href="{{ url_for('extra_static.get_brand_favicon') }}">
        {% else %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.svg') }}" type="image/svg+xml">
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans&family=Roboto&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
        {% if config.BRANDING.CSS_FILE %}
        <link rel="stylesheet" href="{{ url_for('extra_static.get_brand_css') }}">
        {% endif %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
    </head>

    <body>
        <header>
            <h1>{{ self.title() }}</h1>
        </header>
        <main>
            {% block main %}
        {% if config.BRANDING.CSS_FILE %}
        <link rel="stylesheet" href="{{ url_for('extra_static.get_brand_css') }}">
        {% endif %}

        {% if not first_attempt %}
        <div class="panel">
Wrong password
        </div>
        {% endif %}
<form class="panel" action="{{ url_for('front_end.get_decrypted_paste', paste_id=meta.paste_id) }}" method="post"
    onsubmit="return validate_new_post_form()">
    <textarea type="password" name="password" rows="1" placeholder="enter password here..." autocorrect="off"
        autocapitalize="off" autocomplete="off"></textarea>
    <button type="submit">Create</button>
</form>
            {% endblock %}
        </main>
        <footer>
            Powered by <strong><a href="https://github.com/enchant97/hasty-paste">Hasty Paste</a></strong>
            {% if config.__version__ %}
            V{{ config.__version__ }}
            {% endif %}
        </footer>
    </body>
</html>
